@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../fonts/GTWalsheimPro-Medium/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheimPro-Medium/GTWalsheimPro-Medium.woff') format('woff'),
        url('../fonts/GTWalsheimPro-Medium/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'GT Walsheim Pro';
  background: url('../images/bg.png') 0% 0% no-repeat;
  color: #473889;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
@media (max-width: 1714px) {
    .container {
        padding: 0 20px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.container {
    max-width: 1714px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1714px;
    width: 100%;
    height: 72px;
    margin: 0 auto;
    margin-top: 40px;
}
.nav__bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__bar__item.search {
    display: flex;
    align-items: center;
}
.search__input {
    border: 1px solid #E7E7E7;
    border-radius: 24px;
    width: 440px;
    height: 72px;     
    padding: 0 26px;
    font-size: 24px;
    color:#473889;
    font-weight: 700;
}
.search__input::-webkit-input-placeholder {
    color:#473889;
    font-size: 24px;
    font-weight: 700;
}
.search__icon {
    transform: translateX(-48px);
}

.nav__bar__item.cart {
    margin-left: 120px;
    height: 32px;
}
.nav__bar__item.btn {
    width: 72px;
    height: 72px;
    margin-left: 70px;
}
.catalog__wrap {
    /* width: 85%; */
}
.catalog__products {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
}
.catalog__title {
    font-weight: bold;
    font-size: 80px;
    display: flex;
    justify-content: space-between;
}
.product__card {
    margin-top: 50px;
    min-width: 400px;
    max-width: 400px;
    padding: 8px;
    margin: 0 6px;
    width: 20%;
    height: 640px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 5%);
    flex-direction: column;
    justify-content: space-between;
}
.product__card img {
    /* width: 100%; */
}
.caption {
    width: 100%;
    height: 200px;
    background: #E7DDF2;
    border-radius: 32px;
    padding: 40px;
    transition: 0.3s;
}
.name {
    font-weight: bold;
    font-size: 32px;
    /* transition: 0.3s; */
}
.description {
    font-size: 18px;
    /* transition: 0.3s; */
    margin-top: 6px;
}
.price {
    font-size: 20px;
    /* transition: 0.3s; */
    margin-top: 30px;
}
.btn.cart {
    width: 61px;
    height: 61px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 40px;
    right: -260px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);
    color: #776FC3;
}
.caption:hover {
    background: #776FC3;
    color: #fff;
    cursor: pointer;
}
.btn.cart:hover {
    cursor: pointer;
    background: #574A97;
    color: #fff;
}


.category__wrap {
    /* width:  15%; */
    z-index: 2;
}
.category__title {
    font-weight: bold;
    font-size: 28px;
    /* margin-bottom: 40px; */
}
.categories {
    margin-top: 60px;
}
.category {
    min-width: 420px;
    min-height: 180px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    transition: 0.3s;
}
.category img {
    width: 36%;
}
.category__caption {
    width: 160px;
}
.category .name {
    font-size: 24px;
}
.category .description {
    font-size: 16px;
    color: #5E5875;
    opacity: 0.7;
}
.category:hover {
    color: #fff;
    cursor: pointer;
    background: #776FC3;
}
.category:hover .description {
    color: #fff;
}
.category.active {
    color: #fff;
    cursor: pointer;
    background: #776FC3;
}
.category.active .description {
    color: #fff;
}
.swiper-wrapper {
    max-width: 1344px;
    width: 70vw;
    gap: 34px;
    /* flex-wrap: wrap; */
}
.catalog__products:before {
    content: '';
    width: 429px;
    height: 735px;  
    position: absolute;
    right: 24%;
    top: 274px;
    z-index: 2;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 32%, rgba(255,255,255,0.6334908963585435) 80%, rgba(255,255,255,0) 100%);
}
.swiper-button-prev, .swiper-button-next {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    width: 72px;
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    border-radius: 50%;
    opacity: 0.2;
}
.swiper-button-prev.active, .swiper-button-next.active {
    border: 1px solid #E7E7E7;
    opacity: 1;
}
.slider__btns {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.swiper-button-prev:after, .swiper-button-next:after {
    content: '' !important;
}
.btn__show {
    width: 72px;
    height: 72px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%); */
    transition: 0.3s;
}
.btn__show:after {
    content: '';
    position: absolute;
    background: #A0BBC8;
    filter: blur(40.7742px);
    border-radius: 58px;
    width: 56px;
    height: 31px;
    filter: blur(20px);
    margin-top: 80px;
    z-index: -1;
}
.btn__show:hover {
    cursor: pointer;
}
.swiper-container {
    padding-bottom: 40px;
}
.swiper-wrapper.active {
    flex-wrap: wrap !important;
    transform: translate3d(0px, 0px, 0px) !important;
}
.cart__counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(17px, -17px);
    text-decoration: none !important; 
}
.cart__counter.active {
    display: flex;
}

.nav__bar__item.btn {
    transition: 0.3s;
    z-index: 10;
}
.nav__bar__item.btn {
    cursor: pointer;
}
.header__menu__wrap {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 11;
    left: 0;
    transition: 0.3s;
    transform: translateX(-100vw);
}
.header__menu__wrap.active {
    transform: translateX(0);
}
.header__menu {
    height: 100vh;
    width: 30vw;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header__el {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.header__overflow {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.3s;
}
.search__icon {
    transition: 0.3s
}
.search__icon:hover {
    cursor: pointer;
}
@media (max-width: 1828px) {
    .catalog__title {
        display: flex;
        justify-content: flex-start;
        gap: 8%;
    }
}

@media (max-width: 1366px) {
    .category {
        min-width: 320px;
        min-height: 120px;
    }
    .product__card {
        min-width: 300px;
        max-width: 300px;
        height: 500px;
    }
    .caption {
        height: 175px;
        padding: 30px;
    }
    .btn.cart {
        bottom: 45px;
        right: -180px;
    }
    .catalog__products:before {
        top: 245px;
        height: 507px;

    }
    .catalog__title {
        font-size: 56px;
    }
    .btn__show {
        width: 60px;
        height: 60px;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 60px;
        height: 60px;
    }
    .search__input {
        height: 60px;
        font-size: 20px;
    }
    .search__input::-webkit-input-placeholder {
        font-size: 20px;
    }
    .nav__bar__item.btn {
        height: 60px;
    }
    .nav__bar__item.btn svg {
        height: 60px;
        width: 60px;
    }
    .nav__bar__item.cart{
        height: 38px;
    }
}

@media (max-width: 1280px) {
    .main {
        flex-direction: column;
        gap: 40px;
    }
    .catalog__wrap {
        order: 2;
    }
    .categories {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        flex-wrap: wrap;
    }
    .swiper-wrapper {
        width: 100%;
    }
    .catalog__products:before {
        display: none;
    }
    .category {
        margin-top: 20px;
        gap: 20px;
    }
}

@media (max-width: 1000px) {
    .catalog__products:before  {
        top: 634px;
    }
    .header {
        gap: 40px;
    }
    .nav__bar__item.btn {
        margin-left: 20px;
    }
    .nav__bar__item.cart {
        margin-left: 0;
        margin-right: 4px;
    }
}

@media (max-width: 865px) {
    .catalog__products:before {
        display: none;
        }
        .search__input {
            width: 340px;
        }
        .header__menu {
            width: 70vw;
        }
    }
.search__btn__mobile {
    display: none;
}
.close__search {
    display: none;
}
.remove {
    font-size: 42px;
    font-family: 'Roboto';
    padding-bottom: 5px;
    color: red;
    transition: 0.3s;
}
.remove:hover {
    cursor: pointer;
}
    
@media (max-width: 768px) {
    .search__btn__mobile {
        display: block;
    }
    /* .nav__bar__item.search svg {
        display: none;
    } */
    .nav__bar__item.search.active {
        display: flex;
    }
    .nav__bar__item.search {
        width: 100vw;
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 11;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .close__search {
        display: block;
    }
    .search__btn__mobile svg {
        width: 28px;
        height: 28px;
        margin-right: 20px;
    }
    .category .name {
        font-family: 18px;
    }
    .category .description {
        font-size: 14px;
    }
    .catalog__title {
        font-size: 36px;
    }
    .btn__show {
        width: 48px;
        height: 48px;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 48px;
        height: 48px;
    }
    .header {
        gap: 20px;
    }
    .nav__bar__item svg {
        height: 24px;
        width: 24px;
    }
    .nav__bar__item.btn svg {
        height: 32px;
        width: 32px;
    }
    .nav__bar__item.btn {
        height: 32px;
    }
    .search__btn__mobile svg {
        height: 24px;
        width: 24px;
    }
    .nav__bar__item.cart {
        height: 28px;
    }
    .nav__bar__item.btn {
        width: 32px;
    }
    .product__card .name {
        max-height: 20px;
        overflow: hidden;
    }
}

@media (max-width: 580px) {
    .product__card {
        min-width: 37vw;
        height: auto;
        border-radius: 12px;
    }
    .swiper-wrapper {
        gap: 14px;
        justify-content: space-between;
    }
    .caption {
        height: 120px;
        padding: 10px;
        border-radius: 12px;
    }
    .name {
        font-size: 18px;
    }
    .price {
        margin-top: 20px;
    }
    .btn.cart {
        bottom: 30px;
        right: -55px;
        width: 30px;
        height: 30px;
        font-size: 24px;
    }
    .description {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .catalog__title {
        font-size: 24px;
    }
    .btn__show {
        width: 24px;
        height: 24px;
    }
    .btn__show svg {
        height: 16px;
        width: 16px;
    }
    .swiper-button-prev svg, .swiper-button-next svg {
        height: 16px;
        width: 16px;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 24px;
        height: 24px;
    }
    .category img {
        width: 25%;
    }
    .category {
        min-width: 270px;
        border-radius: 20px;
        height: 80px;
        min-height: 80px;
    }
    .category .name {
        font-size: 18px;
    }
}

@media (min-width: 540px) and (max-width: 580px) {
    .btn.cart {
        right: -136px;
    }
}
@media (min-width: 490px) and (max-width: 540px) {
    .btn.cart {
        right: -113px;
    }
}
@media (min-width: 414px) and (max-width: 490px) {
    .btn.cart {
        right: -96px;
    }
}
@media (max-width: 414px) {
    .btn.cart {
        right: -63px;
    }
}
@media (min-width: 380px) and (max-width: 768px) {
    .product__card .name {
        max-height: 40px;
    }
}