<template>
    <div class="v-cart-item">
        <div class="cart_info">
            <p>{{ cart_data_item.name }}</p>
            <p>{{ cart_data_item.price }}</p>
        
        </div>
        <div class="cart_quantity">
            <p>qty</p>
            <span class="qty" @click="dekrementItem">-</span> 
            {{ cart_data_item.quantity }} 
            <span class="qty" @click="inkrementItem">+</span>
        </div>
        <div class="remove" @click="deleteFromCart">&times;</div>
    </div>
</template>

<script>


export default {
    name: 'vCartItem',
    props: {
        cart_data_item: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    methods: {
        dekrementItem() {
            this.$emit('dekrement')
        },
        inkrementItem() {
            this.$emit('inkrement')
        },
        deleteFromCart() {
            this.$emit('deleteFromCart')
        }
    },
    computed: {},
    // mounted() {
    //     this.$set(this.cart_data_item, 'quantity', 1)
    // }
}
</script>

<style scoped>
    .v-cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 8px 0 #e0e0e0;
        padding: 16px;
        margin-bottom: 16px;
    }
    .image {
        max-width: 50px;
    }
    .qty {
        cursor: pointer;
    }
</style>