<template>
    <div class="v-cart">
        <router-link :to="{name: 'Catalog'}">
            <div class="back__btn">&larr; Back</div>
        </router-link>
        <h2>Cart</h2>
        <p v-if="!cart_data.length">В корзине пусто!</p>
        <vCartItem 
        v-for="(item, index) in cart_data" 
            :key="item.id"
            :cart_data_item="item"
            @deleteFromCart="deleteFromCart(index)"
            @inkrement="inkrement(index)"
            @dekrement="dekrement(index)"
        />
        <div class="cart__total">Total: <span class="total">{{ cartTotalCost }}</span> $ </div>
    </div>
</template>

<script>

import vCartItem from './CartItem'
import { mapActions } from 'vuex'

export default {
    name: 'v-cart',
    components: {
        vCartItem
    },
    props: {
        cart_data: {
            type: Array,
            default() {
                return []
            }
        }
    },
    computed: {
        cartTotalCost() {

            let result = []
            if (this.cart_data.length) {
                this.cart_data.forEach((item) => {
                    result.push(item.price * item.quantity)
                })

                result = result.reduce((sum, el) => {
                    return sum + el
                })

                return result
            }
            else {
                return 0
            }
            
        }
    },
    methods: {
        ...mapActions([
            'DELETE_FROM_CART',
            'INKREMENT_CART_ITEM',
            'DEKREMENT_CART_ITEM'
        ]),
        dekrement (index) {
            this.DEKREMENT_CART_ITEM(index)
        },
        inkrement (index) {
            this.INKREMENT_CART_ITEM(index)
        },
        deleteFromCart(index) {
            this.DELETE_FROM_CART(index)
        }
    }
    
}
</script>

<style>
    .v-cart {
        margin-bottom: 100px;
    }
    .cart__total {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        padding: 24px;
        justify-content: center;
        background: #ebe5f6;
        color: #000;
        font-size: 20px;
    }
    .back__btn {
        text-decoration: none;
        color: #473889;
    }
</style>