<template>
    <swiper-slide class="product__card">
        <img class="image" v-bind:src="require('../assets/images/' + product_data.image)" >
        <div class="caption">
            <div class="name"> {{product_data.name}} </div>
            <div class="description"> {{product_data.description}} </div>
            <div class="price"> $ {{product_data.price}},00</div>
            <div @click="addToCart" class="btn cart">
                +
            </div>
        </div>
    </swiper-slide>
</template>

<script>
import {  SwiperSlide } from 'vue-awesome-swiper'

export default {
    components: {
        SwiperSlide
    },
    props: {
        product_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    data() {
        return {}
    },
    methods: {
        addToCart() {
            this.$emit('addToCart', this.product_data)
        }
    },
    mounted() {
        this.$set(this.product_data, 'quantity', 1)
    }
}
</script>

