<template>
    <div class="main">
        <div class="catalog__wrap">
            <div class="catalog__title">
                <span>Best Sellers</span>

                <div @click="showMore" class="btn__show">
                    <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 7H20" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                        <path d="M1 1H23" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                        <path d="M7 13H17" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                    </svg>
                </div>

                <div class="slider__btns">
                    <div @click="prevSlideShow" id="swiperPrevBtn" class="swiper-button-prev"> 
                        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 9H2" stroke="#464185" stroke-width="2"/>
                            <path d="M9 16L2 9L9 2" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                        </svg>
                    </div>
                    <div @click="nextSlideShow" id="swiperNextBtn" class="swiper-button-next active">
                        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="1">
                            <path d="M0 9H20" stroke="#464185" stroke-width="2"/>
                            <path d="M13 2L20 9L13 16" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="catalog__products">
                <swiper ref="mySwiper" 
                    :options="swiperOptions"
                    @slideChange="onChangeSlide"
                >
                    <CatalogItem
                         v-for="product in filteredProducts"
                        :key="product.id"
                        :product_data="product"
                        @addToCart="addToCart"
                    />
                </swiper>    
            </div>
        </div>
    
        <div class="category__wrap">
            <div @click="resetFilter" class="category__title">{{ category }}</div>
            <div class="category__wrap">
                <Categories
                    :categories="categories"
                    @selectCategory="sortByCategory"
                />
            </div>
        </div>
        
    </div>
</template>


<script>
import Categories from './Categories'
import CatalogItem from './CatalogItem'
import {mapGetters, mapActions} from 'vuex'

import { Swiper, directive } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'

export default {
    name: 'MySwipe',
    components: {
        CatalogItem,
        Categories,
        Swiper
    },
    directives: {
        swiper: directive
    },
   data() {
        return {   
            categories: [
                {name: 'Comb 2.0', description: 'Comb 2.0', image: 'category1.png', value: 1},
                {name: 'Watch+', description: 'Trending 2020', image: 'category2.png', value: 2},
                {name: 'Camera®', description: 'Classic 1992', image: 'category3.png', value: 3}
            ],
            category: 'All',
            sortedProducts: [],
            swiperOptions: {
                slidesPerView: 3,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
                // Some Swiper option/callback...
            }
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'CART',
            'SEARCH_VALUE'
        ]),
        filteredProducts() {
            if (this.sortedProducts.length) {
                return this.sortedProducts
            }
            else {
                return this.PRODUCTS
            }
        },
        swiper() {
            return this.$refs.mySwiper.$swiper
        }
    },
    methods: {
        ...mapActions([
            'GET_PRODUCT_FROM_API',
            'ADD_TO_CART'
        ]),
        addToCart(data){
            this.ADD_TO_CART(data)
        },
        sortByCategory(category) {
            this.category = category.name
            this.sortedProducts = []
            // let vm = this

            this.PRODUCTS.map( item => {
                if (item.category_name === category.name) {
                    this.sortedProducts.push(item)
                }
            })
        },
        resetFilter() {
            this.sortedProducts = this.PRODUCTS
        },
        prevSlideShow() {
            this.$refs.mySwiper.$swiper.slidePrev()
        },
        nextSlideShow() {
            this.$refs.mySwiper.$swiper.slideNext()
        },
        showMore() {
            this.swiperOptions.slidesPerView = 9

            let swiperWrapper = document.querySelector('.swiper-wrapper')
            if (!swiperWrapper.classList.contains('active')) swiperWrapper.classList.add('active')
            else swiperWrapper.classList.remove('active')
        },
        sortProductBySearchValue(value) {
            this.sortedProducts = [...this.PRODUCTS]
            if (value) {
            // console.log(value);

                this.sortedProducts = this.sortedProducts.filter( item => {
                    return item.name.toLowerCase().includes(value.toLowerCase())
                })
                // console.log(this.sortedProducts);
            }
            else {
                this.sortedProducts = this.PRODUCTS
            }
        },
        onChangeSlide() {
            setTimeout(() => {
                let swiperNextBtn = document.getElementById('swiperNextBtn')
                let swiperPrevBtn = document.getElementById('swiperPrevBtn')
                

                if (this.$refs.mySwiper.$swiper.isEnd) {
                    // console.log("isEnd")
                    swiperNextBtn.classList.remove('active')
                }
                else if (this.$refs.mySwiper.$swiper.isBeginning) {
                    // console.log("isBeginning")
                    swiperPrevBtn.classList.remove('active')
                }
                else {
                    swiperPrevBtn.classList.add('active')
                    swiperNextBtn.classList.add('active')
                }
            }, 300)
        }
    },
    watch: {
        SEARCH_VALUE() {
            this.sortProductBySearchValue(this.SEARCH_VALUE)
        },
        CART() {
           let cartCounter = document.getElementById('cart__counter')
           cartCounter.classList.add('active')
        }
    },
    mounted() {
        this.GET_PRODUCT_FROM_API()
        .then((response) => {
            if (response.data) {
                // console.log(response.data)
            }
        })
        // console.log('Current Swiper instance object', this.swiper)
        this.swiper.slideTo(3, 1000, false)

        this.sortProductBySearchValue(this.SEARCH_VALUE)

        let categories = document.querySelectorAll('.category')

        for (let i = 0; i < categories.length; i++) {
            categories[i].addEventListener('click', () => {
                categories.forEach(item => {
                    item.classList.remove('active')
                })
                categories[i].classList.add('active')
            })
        }   

    }
}
</script>

