<template>
    <div class="categories">
 
        <div class="category"
            v-for="category in categories"
            :key="category.value"
            @click="selectCategory(category)"       
        >
            <img class="image" :src="require('../assets/images/' + category.image)" >
            <div class="category__caption">
                <div class="name">{{ category.name }}</div>
                <div class="description">{{ category.description }}</div>
            </div>       
        </div>
    </div>
</template>


<script>

export default {
    data() {
        return {
            // isActive: false
        }
    },
    props: {
        categories: {
            type: Array,
            default() {
                return []
            }
        },
    },
    methods: {
        selectCategory(category) {
            this.$emit('selectCategory', category)
        },
    }
}
</script>
