<template>
    <div class="container">

        <div class="header">
            <a href="#" class="header__item logo">
                <svg width="127" height="32" viewBox="0 0 127 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M1.904 25H13.72V20.968H6.44V5.4H1.904V25ZM21.933 25.364C23.809 25.364 25.489 24.44 26.217 23.096V25H30.473V11.504H26.217V13.436C25.489 12.064 23.949 11.14 21.989 11.14C18.069 11.14 15.577 14.22 15.577 18.252C15.577 22.312 17.901 25.364 21.933 25.364ZM23.165 21.808C21.177 21.808 19.945 20.296 19.945 18.252C19.945 16.208 21.177 14.724 23.165 14.724C25.293 14.724 26.385 16.32 26.385 18.252C26.385 20.212 25.293 21.808 23.165 21.808ZM43.6896 5.4V13.436C42.9616 12.064 41.4216 11.14 39.4616 11.14C35.5416 11.14 33.0496 14.22 33.0496 18.252C33.0496 22.312 35.3736 25.364 39.4056 25.364C41.2816 25.364 42.9616 24.44 43.6896 23.096V25H47.9456V5.4H43.6896ZM40.6376 21.808C38.6496 21.808 37.4176 20.296 37.4176 18.252C37.4176 16.208 38.6496 14.724 40.6376 14.724C42.7656 14.724 43.8576 16.32 43.8576 18.252C43.8576 20.212 42.7656 21.808 40.6376 21.808ZM53.6303 10.104C55.1983 10.104 56.2903 8.928 56.2903 7.472C56.2903 6.044 55.1983 4.84 53.6303 4.84C52.0903 4.84 50.9703 6.044 50.9703 7.472C50.9703 8.928 52.0903 10.104 53.6303 10.104ZM51.5023 25H55.7583V11.504H51.5023V25ZM65.6786 25.364C69.2626 25.364 71.9786 23.6 72.3986 20.94H68.1986C67.8346 21.78 66.9946 22.144 65.6786 22.144C63.7746 22.144 62.5986 21.192 62.5146 19.428H72.4826C72.5666 18.672 72.5946 18.252 72.5946 17.552C72.5946 13.744 69.7386 11.14 65.5386 11.14C61.1426 11.14 58.2586 13.828 58.2586 18.252C58.2586 22.76 61.0866 25.364 65.6786 25.364ZM62.5146 16.768C62.5426 15.116 63.6626 14.024 65.5106 14.024C67.3306 14.024 68.3386 14.976 68.3666 16.768H62.5146ZM80.4493 25.364C84.0333 25.364 86.3573 23.712 86.3573 20.912C86.3573 18.868 85.0693 17.58 82.9413 17.02L80.0853 16.236C78.9933 15.956 78.6013 15.564 78.6013 14.948C78.6013 14.304 79.2173 13.856 80.1413 13.856C81.2893 13.856 81.9893 14.36 81.9893 15.312H86.2173C86.2173 12.624 84.0053 11.14 80.1973 11.14C76.7253 11.14 74.4293 12.82 74.4293 15.368C74.4293 17.412 75.6613 18.784 77.8173 19.316L80.6453 20.016C81.7933 20.296 82.1013 20.66 82.1013 21.276C82.1013 22.06 81.4573 22.508 80.5333 22.508C79.2173 22.508 78.3213 21.864 78.3213 20.94H74.0653C74.0653 23.572 76.6133 25.364 80.4493 25.364Z" fill="#342869"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M127 10.0526L114 27L101 10.0526L106.2 4H121.8L127 10.0526Z" stroke="#342869" stroke-width="4" stroke-linecap="square"/>
                <path d="M111 12H117" stroke="#342869" stroke-width="4" stroke-linecap="square"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="127" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </a>
            <div class="header__item nav__bar">

                <div @click="showSearch" class="search__btn__mobile">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 21L17 17" stroke="#464185" stroke-width="2" stroke-linecap="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                    </svg>
                </div>
                <div id="search" class="nav__bar__item search">
                    <input v-model="searchValue" type="text" placeholder="Search" class="search__input">
                    <div @click="search(searchValue)" class="search__icon">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 21L17 17" stroke="#464185" stroke-width="2" stroke-linecap="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z" stroke="#464185" stroke-width="2" stroke-linecap="square"/>
                        </svg>
                    </div>
                     <div @click="closeSearch" class="close__search remove">&times;</div>
                </div>

                <div class="nav__bar__item cart">
                    <router-link :to="{name: 'Cart', params: {cart_data: CART}}">
                        <svg width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="7" width="26" height="26" stroke="#413382" stroke-width="2"/>
                            <path d="M20 7C20 3.68629 17.3137 1 14 1C10.6863 1 8 3.68629 8 7" stroke="#413382" stroke-width="2"/>
                        </svg>
                        <div id="cart__counter" class="cart__counter">{{ CART.length }}</div>
                    </router-link>
                </div>

                <div @click="showMenu" class="nav__bar__item btn">
                    <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36 72C55.8823 72 72 55.8823 72 36C72 16.1177 55.8823 0 36 0C16.1177 0 0 16.1177 0 36C0 55.8823 16.1177 72 36 72Z" fill="#EBE5F6"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30 28C30 29.1046 29.1046 30 28 30C26.8954 30 26 29.1046 26 28C26 26.8954 26.8954 26 28 26C29.1046 26 30 26.8954 30 28ZM30 44C30 45.1046 29.1046 46 28 46C26.8954 46 26 45.1046 26 44C26 42.8954 26.8954 42 28 42C29.1046 42 30 42.8954 30 44ZM44 30C45.1046 30 46 29.1046 46 28C46 26.8954 45.1046 26 44 26C42.8954 26 42 26.8954 42 28C42 29.1046 42.8954 30 44 30ZM46 44C46 45.1046 45.1046 46 44 46C42.8954 46 42 45.1046 42 44C42 42.8954 42.8954 42 44 42C45.1046 42 46 42.8954 46 44Z" fill="#413382"/>
                    </svg>
                </div>          

            </div>
            <div id="header__menu__wrap" class="header__menu__wrap">
                <div class="header__menu">
                    <div class="header__el">Home</div>
                    <div class="header__el">Categories</div>
                    <div class="header__el">About us</div>
                    <div class="header__el">Contacts</div>
                </div>
                <div @click="closeMenu" id="header__overflow" class="header__overflow"></div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
    name: 'Header',
    data() {
        return {
            searchValue: ''
        }
    },
    computed: {
        ...mapGetters([
            'CART',
            'SEARCH_VALUE'
        ]),
    },
    methods: {
        ...mapActions([
            'GET_SEARCH_VALUE'
        ]),
        showMenu() {
            let header = document.getElementById('header__menu__wrap')
            if (!header.classList.contains('active')) header.classList.add('active')
            else header.classList.remove('active')
        },
        closeMenu() {
            let header = document.getElementById('header__menu__wrap')
            header.classList.remove('active')
        },
        search(value) {
            this.GET_SEARCH_VALUE(value)
        },
        showSearch() {
            let search = document.getElementById('search')
            search.classList.add('active')
        },
        closeSearch() {
            let search = document.getElementById('search')
            search.classList.remove('active')
        },
    },
}
</script>
