<template>
    <div class="container">

        <router-view></router-view>

    </div>
</template>


<script>

export default {

    name: 'v-main-wrapper',
    props: {},
    data() {
        return {}
    },
    computed: {},
    methods: {},
    watch: {}
}
</script>

