<template>
  <div id="app">  
    <Header />
    <MainWrapper />
  </div>
</template>

<script>
import Header from './components/Header'
import MainWrapper from './components/MainWrapper'


export default {
  name: 'App',
  components: {
    Header,
    MainWrapper
  }
}
</script>

<style>

</style>
